@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    height: 710px
}

.results {
    font-weight: 600
}

select {
    border: none;
    outline: none;
    padding: 0px 4px;
    cursor: pointer;
    background: inherit
}

.card {
    border: none;
    cursor: pointer
}

.card:hover {
    transform: scale(1.08);
    transition: all 0.4s ease-in-out
}

.card1 {
    border: none;
    cursor: pointer
}

.card1:hover {
    transform: scale(1.08);
    transition: all 0.4s ease-in-out
}

.card img {
    background-color: #fdf8f4;
    width: 240px;
    height: 240px;
    object-fit: contain;
    padding-top: 0px;
}

.card1 img {
    background-color: #fdf8f4;
    width: 270px;
    height: 270px;
    object-fit: contain;
    padding-top: 0px;
    border-radius: 50%;
}

.card-body {
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-right: 0.2rem
}

.fa-heart {
    font-size: 1.2rem
}

.h6 {
    font-size: 20px;
    margin: 0
}

.btn {
    padding-top: 5px
}

.btn:hover {
    color: rgb(241, 12, 12);
    background: blanchedalmond;
}

div.text-muted {
    font-size: 1.9rem
    
}

@media(max-width:372px) {
    .results {
        font-size: 0.9rem
    }
}

@media(max-width:330px) {
    .results {
        font-size: 0.85rem
    }
}

@media(min-height: 700px) {
    body {
        height: 100vh
    }
}

@media(max-width:768px) {
    body {
        height: 100%
    }
}